<main (click)="dismiss.emit()">
  <div class="popup">
    <h2 *ngIf="data.title !== ''">{{ data.title }}</h2>

    <fa-icon
      class="success"
      *ngIf="data.icon == 'success'"
      [icon]="faCheck"
    ></fa-icon>

    <fa-icon
      class="error"
      *ngIf="data.icon == 'error'"
      [icon]="faError"
    ></fa-icon>

    <fa-icon
      class="warning"
      *ngIf="data.icon == 'warning'"
      [icon]="faWarning"
    ></fa-icon>

    <label *ngIf="data.text !== ''">{{ data.text }}</label>

    <div class="buttons">
      <button class="cancel" *ngIf="data.showCancel" (click)="dismiss.emit()">
        {{ data.cancelText == "" ? "Cancel" : data.cancelText }}
      </button>

      <button class="ok" *ngIf="data.showOk" (click)="onOk()">
        {{ data.okText == "" ? "Ok" : data.okText }}
      </button>
    </div>
  </div>
</main>
